#activity-form {
    background-color: beige;
    padding: 2rem;
    border-radius: 3%;

}

div {
    width: fit-content;
    margin-bottom: 1rem;

}

div label {
    margin-right: 1rem;
}

.card {
    background-color: beige;
    padding:0 1rem;
    border-radius: 3%;
}
.activity-log-container{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}